body{
    font-family: 'Akaya Telivigala', cursive;
}
h1{
    font-size: 70px ;
}
h2{
    font-size: 40px;
}
.fast-1{
    color: red;
}
.name-highlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;

}
.half-width img{
    width: 100%;
}